<div id="stack-background">
	<br>

	<div class="container-fluid">
		<div class="jumbo">
			<img class="img-fluid rounded" src="image/arkansas-on-two-wheels-low-resolution-logo-white-on-transparent-
			background.png" alt="aron2wheels logo" style="width:250px;height:250pk;"><span class="display-4 font-weight-normal text-white">Exploring Arkansas One
			 Backroad and Byway at a Time</span>
		</div>
		<div class="row text-center">
			<div class="col-md-3">
				<img class="img-fluid rounded" src="image/leftbannerimg.jpg" alt="">
			</div>
			<div class="col-md-6">
			<br>
			<br>
			<br>
				<h2 class="text-white">Why Ride Arkansas?</h2>
				<h5 class="text-white">Arkansas, The Natural State, contains
					many types of terrain. From the rugged Ozarks to plains, forests
					and river bottoms, there are thousands of miles of road to suit any
					taste or skill level. Hitting the road on a motorcycle(or car, we
					won't judge), can be a great way to unwind, go site seeing, find a
					new favorite hideaway or restaurant, or even build a weekend
					getaway. What can Arkansas show you next?</h5>

				<br>
				<br>
				<br>
				<br>
				<h2 class="pt-2 text-white">With so much road to travel, how
					can I choose?</h2>
				<h5 class="text-white">
					With 16,442.90 miles (26,462.28 km) of Interstates, U.S. Routes,
					state highways, and special routes, it can be difficult to pick
					your route. That’s where we come in, simply choose below your skill
					level, beginner, intermediate, or expert, and how long you want to
					ride, a short jaunt(90 minutes or less), a full ride(less than 3
					hours), or a full day trip. <br>Once selected we’ll provide 1
					or more routes that fit your needs. Click on the links provided to
					be taken to a detail page with maps, pictures and a description of
					the route and even interesting stops along the way!
				
					
				
				</h5>
				
			</div>
			<div class="col-md-3">
			<img class="img-fluid rounded" src="image/rightbannerimg.jpg" alt="">
			</div>
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<h3 style="color: white">Please Select Your Skill and Ride
					Length</h3>

				<form>
					<!-- dropdown forms for length and skill selection -->
					<div class="form-group">
						<label class="text-white" for="sel1">Select Skill:</label> <select
							class="form-control" id="sel1" ng-model="front.skill">
							
							<option value="Beginner">Beginner</option>
							<option value="Intermediate">Intermediate</option>
							<option value="Expert">Expert</option>
						</select> <br> 
						<label class="text-white" for="sel2">Select Ride Length:</label> <select
							class="form-control" id="sel2" ng-model="front.length">
							
							<option value="Jaunt">Jaunt</option>
							<option value="Ride">Ride</option>
							<option value="Day Trip">Day Trip</option>
						</select>
					</div>
					<button type="submit" ng-click="getReport()"
						class="btn btn-primary active">Submit</button>

				</form>
				<table class="table table-hover">
					<tr class='text-warning'>
						<th class='text-warning'>Title</th>
						<th>Skill Level</th>
						<th>Length</th>
						<th>Link</th>
						<th>Brief Desc.</th>

					</tr>
					<tbody>
						<tr class='text-light' ng-repeat="ride in searchResults">
							<td>{{ride.name}}</td>
							<td>{{ride.skill}}</td>
							<td>{{ride.length}}</td>
							<td><a href="{{ride.link}}" target="blank">{{ride.name}}</a></td>
							<td>{{ride.tease}}</td>

						</tr>
					</tbody>
				</table>
				</div>
				<div class="col-md-1"></div>
			

		</div>
		
	</div>
</div>
